/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.htaccess
composer.json
composer.lock
package.json
artisan
gulpfile.js
server.php
/bootstrap
.env.example
phpspec.yml
phpunit.xml
/tests
/storage
/resources
/public
/.vscode
/config
/app/Jobs
/app/Exceptions
/app/Events
/app/Policies
/app/Listeners
/app/Http/Controllers
/app/Http/Middleware